<odoo>
    <menuitem id="hospital_management_root" name="Hospital Management"/>

    <menuitem id="hospital_patient_menu" name="Patients" parent="hospital_management_root" sequence="1"/>
    <menuitem id="hospital_doctor_menu" name="Doctors" parent="hospital_management_root" sequence="2"/>

    <record id="action_patient" model="ir.actions.act_window">
        <field name="name">Patients</field>
        <field name="res_model">hospital.patient</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_doctor" model="ir.actions.act_window">
        <field name="name">Doctors</field>
        <field name="res_model">hospital.doctor</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_patient" name="Patients" parent="hospital_patient_menu" action="action_patient"/>
    <menuitem id="menu_doctor" name="Doctors" parent="hospital_doctor_menu" action="action_doctor"/>
</odoo>
